@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-neutral-200 pt-8 dark:border-neutral-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  margin-left: -24px;
  padding-right: 4px;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

#ez-toc-container{
  display: none;
}
/* Estilo general de la cuadrícula */
.responsive-grid {
  background-size: 50% 50%;
  color-scheme: light dark; /* Indica soporte para ambos esquemas */
}

@media (prefers-color-scheme: dark) {
  /* Configuración para modo oscuro */
  .responsive-grid {
    background-image: 
      linear-gradient(to right, #4d4d4d7e 1px, transparent 1px),
      linear-gradient(to bottom, #5050507e 1px, transparent 1px);
  }
}

@media (prefers-color-scheme: light) {
  /* Configuración para modo claro */
  .responsive-grid {
    background-image: 
      linear-gradient(to right, #3131313d 1px, transparent 1px), /* Menor opacidad */
      linear-gradient(to bottom, #2e2e2e3d 1px, transparent 1px);
  }
}

@media (min-width: 768px) {
  .responsive-grid {
    background-size: 33% 33%;
  }
}